
/*!
 * Bootstrap v4.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

 @font-face {
  font-family: "abadi-mt-condensed-bold";
  src: url("https://connect-static-files.s3.amazonaws.com/soat_cencosud/ttf/abadi-mt-condensed-bold.ttf") format('truetype');
}
 .home-page-back {
  background: white url(https://connect-static-files.s3.amazonaws.com/soat_cencosud/imagenes/back.png) no-repeat;
  padding: 5rem 1rem 7rem 32rem;
}

.home-page-info-ask{
  width: 100%;
  height: 34rem;
  max-width: 100%;
}

.p-preguntas{
  margin-top: 39rem;
  color: #ffffff;
  width: 160%;
  font-weight: 900;
}

.p-preguntas-b{
  margin-top: 2.5rem;
    color: #ffffff;
    width: 690%;
    font-weight: 600;
    position: relative;
    right: 21rem;
}

.p-q-b{
  margin-top: 0;
    font-size: 10px;
    margin-bottom: 1rem;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.home-page-back-consume{
  background: white url(https://connect-static-files.s3.amazonaws.com/soat_cencosud/imagenes/back.png) no-repeat;
  padding: 7rem 3rem 7rem 46rem;
}



.home-page-back-confirm{
  display: grid;
  grid-template-columns: 0.1fr 3fr;
  grid-column-gap: 0rem;
  text-align: center;
}


.terms {
  display: inline-block;
  text-decoration: none;
  float: left;
  text-align: justify;
  margin-bottom: 0.3rem;
  font-size: 13px;
  opacity: .7;
  font-family: 'Roboto', sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: #00a8f9;
  border-color: #00a8f9;
  width: 100%;
}

.container-fluid {
  display: grid;
  grid-template-columns: 1.5fr 4fr 2fr;
  grid-column-gap: 0.1rem;
  text-align: center;
}

.container-fluid-consume{
  display: grid;
  grid-template-columns: 0fr 2fr;
  grid-column-gap: 0.5rem;
  text-align: center;
}

.contact {
  padding: 1rem 0;
  margin: auto;
  text-align: center;
}

.text-steps{
  text-align: left;
  font-size: 14px;
}

body {
  margin: 0;
}

.btn-group{
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 1rem;
}

.header-soat{
  background: white url(https://connect-static-files.s3.amazonaws.com/soat_cencosud/imagenes/HeaderSeguros.png) no-repeat;
  width: 100%;

}

.home-page-form {
  width: 334px;
  margin: auto;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}


.home-page-form-confirm{
    /* width: 334px; */
    margin: auto;
}

.div1{
  width: 50%;
  float: left;
}
.div2{
  float: right;
  width: 50%;
  
}

.form-confirm{
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 6px 0px rgba(0,0,0,0.40);
  font-size: 15pt;
  padding: 34px;
  border-radius: 10px;
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
  text-align: center;
}

.quoting soat3

.quoting-container>div {
  width: 100%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.form-group-vehicule{
  margin-bottom: 1rem;
  margin-top: 1.2rem;
}
.p-q{
  margin-top: 0;
  margin-bottom: 1rem;
  color: #ffffff;
  text-decoration: none;
}

a:hover {

  text-decoration: none;
}

.p-q:hover {
  color:#F0F0F0; 
  text-decoration: none;
}


.form-group-q{
  margin-bottom: 1rem;
  margin: auto;
  max-width: 20%;
}

.h1-p{
  font-size: 2.5rem;
  color: #0567ae;
  text-align: center;
  margin-bottom: 1rem;
}


.p-datas{
  line-height: 18px;
  text-align: left;
  font-size: 18px;
}
.datas-control{
  line-height: 18px;
  text-align: left;
  font-size: 18px;
  color:#ffffff;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.container-fluid-confirm{
  display: grid;
  grid-template-columns: 0fr 3fr;
  grid-column-gap: 5rem;
  text-align: center;
}

.form-group-vehicule-confirm{
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.p-vehicule{
text-align: left;
font-size: 18px;
color: #616161; 
}

form {
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 6px 0px rgba(0,0,0,0.40);
  font-size: 15pt;
  padding: 34px;
  border-radius: 10px;
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}

.home-page-info {
  width: 100%;
  max-width: 100%;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 6px 0px rgba(0,0,0,0.40);
  font-size: 15pt;
  padding: 5px;
  border-radius: 10px;
  background: white;
  position: relative;
  width: 100%;
  height: 50%;
  margin: auto;
  margin-top: 20rem;
}

.home-page-back-q {
  background: white url(https://connect-static-files.s3.amazonaws.com/soat_cencosud/imagenes/back.png) no-repeat;
  padding: 1rem 2rem 2rem 2rem;
  background-size: 100% 100%;
}

.prince-item {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 0px 17px 0px;
  background: white;
  margin: 4% 0px;
  border-radius: 2px;
  padding: 2rem;
  box-shadow: 0 0 6px 0px rgba(0,0,0,0.40);
}

.table-prod {
  margin: auto;
  max-width: 90%;
  border-radius: 2px;
}

.card-q {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.funnel-footer {
  background: #fff;
  width: 100%;
  max-width: 98%;
  margin: 0 auto;
  height: 100%;
  margin-top: 1rem;
}

.item-vehicule{
  float: left;
}

.p-item-vehicule{
float:left;
}

.files {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 38px;
}

.funnel-footer-brands {
  width: 100%;
  margin: 0 auto;
}

.payment-methods {
  width: 100%;
  margin: 10px auto;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  border-radius: 8px;
  border: 1px solid #b4b3b3;
  padding: 5px;
  align-items: center;
}

.logos{
  vertical-align: middle;
  border-style: none;
  width: 100%;
  max-width: 113px;
}

.logos-mc{
  vertical-align: middle;
  border-style: none;
  width: 100%;
  max-width: 200px;
}

.logos-ptp{
  vertical-align: middle;
  border-style: none;
  width: 100%;
  max-width: 180px;
}

.step1 {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  max-width: 60px;
  float: left;
}

.h4-celest{
  color: #00a8f9
  
}

.steps {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  max-width: 60px;
  float: left;
}

.car{
  vertical-align: middle;
  border-style: none;
  width: 60%;
  max-width: 70px;
}

.h1-control-pay{
  color: #ffffff;
}

.h1-control-pay-gracias{
  color: #ffffff;
  font-size: 4rem;
  font-weight: 800;
}


.motor{
  vertical-align: middle;
  border-style: none;
  width: 50%;
  max-width: 50px;
}

.home-page-back-control{
  background: white url(https://connect-static-files.s3.amazonaws.com/soat_cencosud/imagenes/back.png) no-repeat;
  padding: 5rem 2rem 5rem 46rem;
}

.very-small{
  font-size: 10px;
  display: flow-root;

}

.h1-blue{
  color: #0567ae;
  font-weight: 900;
  letter-spacing: 0.2em;
}

.h1-blue-value{
  color: #0567ae;
  font-weight: 900;
  margin-bottom: 0rem;
  letter-spacing: 0.1em;
}

.h2-blue{
  color: #0567ae;
}

.text-form1{
  float: left;
  color:  #616161;
  font-size: 18px;
}

.h1-gray{
  color: #616161;
  
}

.btn-confirm{
  color: #fff;
  background-color: #00a8f9;
  border-color: #00a8f9;
  width: 50%;
  border-radius: .25rem;
}
.btn-confirm:hover{
  color: #fff;
  background-color: #0567ae;
  border-color: #0567ae;
  width: 50%;
}


.h2-gray{
  color: #616161;
}

.h2-gray-confirm{
  color: #616161;
  font-size: 18px;
}

.h1-blue-value-confirm{
  color: #0567ae;
  font-weight: 900;
  margin-bottom: 0rem;
  line-height: 20px;
}

.card-title {
  margin-bottom: .75rem;
  line-height: 15px;
  color: #0567ae;
}

.card-title2 {
  margin-bottom: .75rem;
  line-height: 15px;
  color: #616161;
}

.number5{
  color: #0567ae;
  float: left;
}

.number3{
  color: #0567ae;
}



